{% extends "homepg/base_with_checkbox.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<!-- Top header -->
	<header class="w3-container w3-xlarge">
		<p class="w3-left">Change a Light</p>
		<p class="w3-right">
			<table>
				<tr>
					<td>{% load static %}<img class="w3-icons" src="{% static 'images/UserIcon.png' %}" alt="Account Icon" style="float: right" /> </td>
					{% if user.is_authenticated %}
						<td style="font-size: 15px;padding:10px"> {{user.username}}</td>
					{% else %}
						<td style="font-size: 15px;padding:10px"> Guest </td>
					{% endif %}
				</tr>
			</table>
		</p>
	</header>
	<p style="padding:5px"></p>
	<table class="w3-table w3-table-all" style="width: 100%; margin:auto; padding:10px;">
		<caption style="font-size:20px; vertical-align:top; caption-side:top; color:#000000;"> Current Light Information</caption>
		<tr>
			<th> Room</th>
			<th>Light Name</th>
			<th> Light Type </th>
			<th> Status </th>
			<th> Dim </th>
			<th> Color </th>
		</tr>
		{% for room in rooms %}
			{% for light in lights%}
				{% if room.id == light.roomLoc.id %}
			<tr>
					<td> {{ room.roomName }}</td>
					<td> {{ light.lightName }} </td>
					<td> {{ light.lightType}}</td>
					{% if light.state == True %}
						<td> ON </td>
					{% else %}
						<td> OFF </td>
					{% endif %}
					<td> {{ light.dimness}} </td>
					<td> {{ light.color }}</td>
			</tr>
				{% endif %} 	<!-- roomname == light roomloc if statement -->
			{% endfor %}	<!-- Lights for loop -->
		{% endfor %}
	</table>
	<hr style="  border-top: 8px solid #3399cc; border-radius: 5px; margin-top: 20px; margin-bottom: 20px;" />
    <form method="POST">
      <div class="w3-display-container w3-container w3-light-grey">
<!--        {% load static %} <img src="{% static 'images/home1.jpg' %}" alt="home" style="width:100%" />-->
<!--          <div class="centered" style="background-color:darkslategrey;padding:24px;">-->
              {% csrf_token %}
              <fieldset class="form-group" style="font-size:20px">
                  <legend class="border-bottom mb-4" style="font-size:20px">Edit Light Information </legend>
                  {{ form|crispy }}
              </fieldset>
<!--            <label for="uname" style="font-size:30px;color:azure"><b>Username</b></label>-->
<!--            <input type="text" placeholder="Enter Username" name="uname" required>-->
<!--            <label for="psw" style="font-size:30px;color:azure"><b>Password</b></label>-->
<!--            <input type="password" placeholder="Enter Password" name="psw" required>-->
            <button type="submit" style="width: 200px; padding: 10px; left: 50%; margin:10px;">Change Light</button>
            <!-- <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            -->
          </div>
          <div class="container" style="background-color:#f1f1f1">
<!--            <span class="psw"><a href="{% url 'forgot-pswd' %}">Forgot password?</a></span>-->
          </div>

    </form>
{% endblock content %}